<!DOCTYPE html>
<html>

<head>
    <title>Change Password</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<style>
    .main {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 2fr 3fr 2fr;
        margin-left: 60px;
        background-color: rgb(236, 236, 236)
    }

    .alert {
        width: 90%;
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    .alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
    }

    .alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }

    .passwordinput {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .FormWindow {
        border-width: 5px;
        border-style: solid;
        border-color: rgb(216, 214, 214);
        background-color: white;
        margin-top: 100px;
        margin-right: 10px;
        padding: 10px 10px 10px 20px;
    }

    .logoutforminput {
        width: 95%;
        margin: 5px;
        height: 20px;
    }
</style>

<body style="background-color: rgb(236, 236, 236)">
    <%- include header.ejs %>
    <%- include sidebar.ejs %>
    <div class="main" id="main">
        <div style="background-color: rgb(236, 236, 236)"></div>
        <div class="FormWindow">
            <center>
                <div class="alert alert-danger" style="width:90%;display:none;" id="checkuser">Username/Password
                    Incorrect.</div>
            </center>
            <h1 style="font-size: 42px; font-weight: 250;">Change Password</h1>
            <div>
                <label>Old Password: </label>
                <br>
                <input name="oldpaswd" id="oldpaswd" class="passwordinput" required style="width: 90%">
                <br><br>
                <label>New Password: </label>
                <br>
                <input name="newpaswd" id="newpaswd" class="passwordinput" style="width: 90%" required>
                <br><br>
                <input type="submit" value="Submit" id="submit" class="btn btn-success">
            </div>
        </div>
        <div style="background-color: rgb(236, 236, 236)"></div>
    </div>
</body>

<script>
    var submit = document.getElementById("submit");
    submit.onclick = checklogin;
    var request = new XMLHttpRequest();

    function checklogin() {
        var oldpaswd = document.getElementById("oldpaswd");
        var newpaswd = document.getElementById("newpaswd");
        var checkuser = document.getElementById("checkuser");
        if (oldpaswd.value == '' || newpaswd.value == '') {
            alert("Invalid Input");
        } else {

            request.open('post', "/changePassword/update");
            request.setRequestHeader("Content-Type", "Application/JSON")
            request.send(JSON.stringify({
                "oldpaswd": oldpaswd.value,
                "newpaswd": newpaswd.value
            }));

            request.addEventListener('load', function () {
                if (request.status === 200) {
                    //console.log(response);
                    var result = JSON.parse(request.responseText);
                    console.log(result);
                    if (result == "0") {
                        //console.log(checkuser.innerText);
                        checkuser.classList.remove("alert-success");
                        checkuser.classList.add("alert-danger");
                        checkuser.innerText = "Username/Password Incorrect.";
                        checkuser.style.display = "block";
                    }
                    if (result == "1") {
                        checkuser.classList.remove("alert-danger");
                        checkuser.classList.add("alert-success");
                        checkuser.innerText = "Success";
                        checkuser.style.display = "block";
                    }
                }
            });
        }
    }
</script>

</html>