<!DOCTYPE html>
<html>

<head>
    <title>Community</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<style>
    .main {
        margin-left: 50px;
        margin-top: 60px;
        margin-right: 0px;
        transition: .5s;
        background-color: rgb(252, 252, 252);
    }

    .community-header-top {
        background-color: rgb(72, 187, 223);
    }

    .community-profile-conatiner {
        display: grid;
        grid-template-columns: 2fr 6fr 1fr;

    }

    .img-communityprofile-pic {
        background: rgb(255, 255, 255) !important;
        height: 100px;
        width: 100px;
        z-index: 20;
        position: absolute;
        margin-top: -30px;
        margin-left: 30px;
        border: 4px solid #fff;
    }

    .communityprofile-name-pc {
        overflow: auto;
        z-index: 1;
        height: 60px;
        margin-top: 15px;
        font-size: 20px;
        font-family: 'Open Sans', sans-serif;
        color: #838686;
        text-transform: capitalize;
        font-weight: bold;
    }

    .dropdown-menu {
        position: fixed;
        top: 20%;
        left: 0;
        z-index: 1000;
        display: block;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 2px 0 0;
        font-size: 14px;
        text-align: left;
        list-style: none;
        background-color: #fff;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid #ccc;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    }

    .custom-commuity-dropdown {
        border: 2px solid rgba(119, 159, 255, 0.56);
    }

    .dropdown-menu-right {
        right: 0;
        left: auto;
    }

    ul {
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
</style>

<body>
    <%- include('header.ejs',{user : user}) %>
    <%- include('sidebar.ejs',{user : user}) %>
    <div class="main" id="main">
        <div class="community-header-top" style="height:50px;padding-top:6px;">
        </div>
        <div class="container community-profile-conatiner">
            <div class="col-sm-2 col-xs-12 center-mobile pc">
                <a href="/community/communityprofile/" id="Profile-pic-display-head">
                    <img src="/uploads/defaultcommunitypic.jpg" class="img-communityprofile-pic allSides"
                        style="background:#fff" id="profilepic">
                </a>
            </div>
            <div class="col-sm-8 communityprofile-name-pc communityprofile-system">
                <a href="/community/communityprofile/5cbf18d7f54a481812074358" class="communityprofile-name-pc"
                    id="Profile-name-display-head">
                    First Community
                </a>
            </div>
            <div class="col-sm-2 col-xs-12 center-mobile" style="padding-top:10px;float:right">
                <div class="dropdown open">
                    <button class="btn btn-default dropdown-toggle commuity-profile-menu-btn" type="button"
                        data-toggle="dropdown" aria-expanded="false" onclick="toggledisplay()">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu custom-commuity-dropdown dropdown-menu-right" style="margin-top:40px; display: none;"
                        id="dropdownmenu">

                        <li>
                            <a href="/community/discussion/5cbf18d7f54a481812074358"
                                class="community-profile-option-btn" id="comm-discussion-option-but">
                                Discussions
                            </a>
                        </li>



                        <li>
                            <a href="/community/managecommunity/5cbf18d7f54a481812074358"
                                class="community-profile-option-btn" id="comm-manage-option-but">
                                Manage Community
                            </a>
                        </li>


                        <li>
                            <a href="/community/communityprofile/5cbf18d7f54a481812074358"
                                class="community-profile-option-btn" id="comm-profile-option-but">
                                Community Profile
                            </a>
                        </li>

                        <li>
                            <a href="/community/communitymembers/5cbf18d7f54a481812074358"
                                class="community-profile-option-btn" id="comm-members-option-but">
                                Community Members
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <center>
                <hr style="border-top:2px solid #E6E6E6;width:85%;margin-top:0">
        </center>
    </div>
</body>
<script>
    console.log('<%= collectionid %>');
    var request = new XMLHttpRequest();
    request.open('post', "/community/communitydetails/getcommunity");
    request.setRequestHeader("Content-Type", "Application/JSON");
    request.send(JSON.stringify({
        "commid": '<%= collectionid %>',
    }));
    request.addEventListener('load', function () {
        if (request.status === 200) {
            var result = JSON.parse(request.responseText);
            // console.log(result);
            var profilelink = "/community/communityprofile/";
            profilelink += result._id;
            // console.log("profile link becomes - " + profilelink);
            var imagelink = "/uploads/";
            imagelink += result.imagepath;
            // console.log("Image link becomes - " + imagelink);
            var discussionlink = "/community/discussion/";
            discussionlink+=result._id;
            var memberslink = "/community/communitymembers/";
            memberslink+=result._id;
            var managecommunitylink = "/community/managecommunity/";
            managecommunitylink+=result._id;
            document.getElementById("Profile-name-display-head").setAttribute("href", profilelink);
            document.getElementById("Profile-pic-display-head").setAttribute("href", profilelink);
            document.getElementById("profilepic").setAttribute("src", imagelink);
            document.getElementById("comm-discussion-option-but").setAttribute("href", discussionlink);
            document.getElementById("comm-manage-option-but").setAttribute("href", managecommunitylink);
            document.getElementById("comm-profile-option-but").setAttribute("href", profilelink);
            document.getElementById("comm-members-option-but").setAttribute("href", memberslink);
           // console.log(menubut);
        }
    });
    /*
    var menubut=document.getElementById("menubut");
    console.log(menubut);
    */
    function toggledisplay() {
        var dropdown = document.getElementById("dropdownmenu");
        if(dropdown.style.display=="none")
        {
            dropdown.style.display = "inline";
        }
        else
        {
            dropdown.style.display = "none"
        }
    }
    
</script>

</html>